Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DS_Store
Content/Maps/karam_BuiltData.uasset
Content/Maps/Init_BuiltData.uasset
Content/Maps/ArrestoMaterialLifting_BuiltData.uasset
Content/Maps/Init_BuiltData.uasset
Content/Maps/karam_BuiltData.uasset
